In [9]:
import pandas as pd
import numpy as np
from typing import *

In [ ]:
#Input:
#+------------+---------+-----+
#| student_id | name    | age |
#+------------+---------+-----+
#| 101        | Ulysses | 13  |
#| 53         | William | 10  |
#| 128        | Henry   | 6   |
#| 3          | Henry   | 11  |
#+------------+---------+-----+
def selectData(students: pd.DataFrame) -> pd.DataFrame:

    return students.loc[students['student_id'] == 101, ["name", "age"]]

In [20]:
#Write a solution to create a new column name bonus that contains the doubled values of the salary column.
#The result format is in the following example.
#Example 1:
#Input:
#DataFrame employees
#+---------+--------+
#| name    | salary |
#+---------+--------+
#| Piper   | 4548   |
#| Grace   | 28150  |
#| Georgia | 1103   |
#| Willow  | 6593   |
#| Finn    | 74576  |
#| Thomas  | 24433  |
#+---------+--------+

In [ ]:
def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary'] * 2
    return employees

In [ ]:
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(subset=['email'])

In [ ]:
def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students.dropna()